{% extends ('@Discord/base.html.twig') %}

{% block body %}
<div>Hello World! Discord de la boule !</div>


    {% include ('@Discord/Partials/modal.html.twig') %}
    {% include ('@Discord/Partials/chat.html.twig') %}


 {#   {% include ('@Discord/Partials/test.html.twig') %}#}
{% endblock body %}