#chat-id {

  color: #fff;

  .message-area {
    background-color: $color03;

    padding: 2rem;

    .message-block {
      background-color: $color02;
      padding: 1rem;

      .message-name {
        font-weight: 700;
      }
      .message-date {
        font-weight: 400;
      }

    }
  }

  .writing-area {
    background-color: $color01;
    padding: 2rem;

    .writing-box {
      background-color: $color02;
      margin: 0 auto;
      padding: 1rem;
    }
  }

}