<section id="chat-id">
    <div class="message-area">

        {% for message in messages %}
            <p class="message-block">
                <span class="message-name">
                    {{ message.username }}
                </span>
                <span class="message-date">
                    le {{ message.datetime|date('Y-m-d \\à H:i:s') }}
                </span>
                <span class="message-message">
                    {{ message.message }}
                </span>
            </p>
        {% endfor %}
    </div>

    <div class="writing-area">
        <div class="writing-box">
            {{ form(form3) }}
        </div>
    </div>

</section>