<section id="chat-id">
    <div class="message-area">

        <p class="message-block">

            <span class="message-name">
                Username
            </span>

            <span class="message-date">
                [10:22]
            </span>
            :
            <span class="message-message">
                Je fais un hackathon !!
            </span>

        </p>
        <p class="message-block">

            <span class="message-name">
                Username
            </span>

            <span class="message-date">
                [10:22]
            </span>
            :
            <span class="message-message">
                Je fais un hackathon !!
            </span>

        </p>

    </div>
<!--
    <div class="writing-area">
        <div class="writing-box">
            <h3>Inscription</h3>
           {{ form(form) }}
        </div>
    </div>-->
    <div class="writing-area">
        <div class="writing-box">
            <h3>Connexion</h3>
            {{ form(form2) }}
        </div>
    </div><!--
    <div class="writing-area">
        <div class="writing-box">
            <h3>Message</h3>
            {{ form(form3) }}
        </div>
    </div>-->

</section>