<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            © 2017 JLJ Team
            <a class="grey-text text-lighten-4 right" href="https://wildcodeschool.fr">Wild Code School</a>
        </div>
    </div>
</footer>