<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">JLJ Chat</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><!-- Modal Trigger-->
                <a class="waves-effect waves-light btn" href="#MODAL1">Inscription / Connexion</a>
            </li>
        </ul>
    </div>
</nav>