<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Pseudo" id="pseudo_id" type="text" class="validate">
                <label for="pseudo_id">Pseudo</label>
            </div>
        </div>
                <div class="row">
            <div class="input-field col s12">
                <input id="password" type="password" class="validate">
                <label for="password">Mot de passe</label>
            </div>
        </div>
    </form>
</div>




<form action="#">
    <p>
        <input type="checkbox" id="test6" checked="checked" />
        <label for="test6">Yellow</label>
    </p>
</form>






<!-- Modal Trigger-->
<a class="waves-effect waves-light btn" href="#MODAL1">Se connecter</a>

<!--Modal Structure-->

<div id="MODAL1" class="modal">

    <div class="modal-content">
        <h4>Se connecter</h4>
        <p>... dans l'antre de la bête</p>



        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">OK</a>
        </div>

    </div>
</div>



<div class="row">
    <div class="col s12">
        <ul id="tabs-swipe-demo" class="tabs">
            <li class="tab col s3"><a class="active" href="#login">Test 1</a></li>
            <li class="tab col s3"><a  href="#register">Test 2</a></li>
        </ul>

        <div id="#login" class="col s12 blue">Test 1</div>
        <div id="#register" class="col s12 green">Test 2</div>

    </div>

</div>

